@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Open+Sans:wght@300;400;500&display=swap');

*{
    font-family: "Open Sans", cursive;
    box-sizing: border-box;
    color: #ffffff;
}

@keyframes color-change {
    0% {
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}

/* @keyframes rain {
    0% {
        background-position: 0 0;
    }
    100%{
        background-position: 5% 10%;
    }
} */

body {
    /* background: url("../backgrounds/rain.png") center / cover no-repeat,
    url("../backgrounds/flop_morning.png") center / cover no-repeat; */
    background-image: url('/backgrounds/flop_night.png') center / cover no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: color-change 2s linear infinite;
}

/* body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../backgrounds/rain.png);
    animation: rain 8s linear infinite;
} */
/*backdrop-filter: blur(10px); */
#container {
    background-color: rgb(17, 18, 20);
    opacity: 0.85;
    height: 50vh;
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    border-radius: 2em;
    backdrop-filter: blur(5px); 
    box-shadow: -2px -2px 24px -3px rgb(16, 16, 17);
}

#header {
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 100%;
    margin-top: 1em;
    justify-content: space-between;
}

#header > #city, #search {
    border: 1px solid transparent;
    background-color: rgb(61, 62, 65);
    font-size: .8em;
    margin: 0 1.5em 0 1.5em;
}
#header > #city {
    border-radius: 1em;
    padding: .6em;
    width: 80%;
    font-size: 0.9em;
}

#header > #city::placeholder {
    color: #ffffff;
}

#header > #search {
    font-size: 1em;
    width: 3em;
    height: 3em;
    padding: 1em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header > #city:hover, #search:hover {
 background-color: rgb(39, 40, 41);
}
#header > #city:focus{
    outline: none;
}

#informations {
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    margin-top: 1.4em;
}

.weather-informations {
    margin: 1em 0 0.7em 0;
    font-size: 0.9em;
}

#weather {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#weather i{
    font-size: 2em;
    margin-right: 0.2em;
}

#weather-p {
    text-transform: capitalize;
}

#img {
    width: 3.5em;
    font-size: normal;
}

h2#Time {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    font-weight: bolder;
    font-size: 8em;
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.996), #ffffff7a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1 {
    font-size: larger;
}